<!DOCTYPE html>

<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen" href="mdtable.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="mdtable_angular.js"></script>
    <title>My Trading Application</title>
</head>
<body>

<div id="title">
    <h1><span id="title1">My<br></span><span id="title2">Trading<br></span><span id="title3">Application</span></h1>
</div>

<div class="panel" ng-app="mdtable">
    <h2 class="panel-title">Market Data View</h2>
    <table id="mdtable" ng-controller="mdtableController">
        <tr>
            <th>Asset</th>
            <th ng-repeat="column in table.columns">{{column.displayName}}</th>
        </tr>
        <tr ng-repeat="(pkey, row) in table.data">
            <td>{{pkey}}</td>
            <td ng-repeat="column in table.columns">{{row[column.columnName]}}</td>
        </tr>
    </table>
</div>

</body>
</html>
